<h1>Articles</h1>
<a href="<%= new_article_path() %>">
    <h1>Create new article</h1>
</a>
<% @articles.each do |article| %>
  <a href="<%= article_path(article) %>">
    <div>
      <h2><%= article.title %></h2>
      <p><%= article.body %></p>
    </div>
  </a>
  <hr>
<% end %>
